[Desktop Entry]
Version=1.0
Type=Application
Name=VoidBR WebApps
GenericName=Gerenciador de WebApps
Comment=Aplicativo para gerenciar e criar webapps
Exec=/usr/local/bin/voidbr-webapps
Icon=voidbr
Categories=System;Utility;VoidBR WebApps;
DesktopNames=VoidBRWebApps

